body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    font-weight: 500;
}

.profile-img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.social-icons i {
    font-size: 1.5rem;
    color: #333;
}

.social-icons a:hover i {
    color: #007bff;
}
.skill-icon {
    width: 50px;
    height: auto;
}
.project-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.project-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media (max-width: 767px) {
    .work-item {
        flex-direction: column;
        text-align: center;
    }
    
    .work-item img {
        max-width: 100%;
    }
    
    .skills-section img {
        width: 40px;
    }
    .project-card img {
        width: 100%;
    }
    .card2{
        order: 2;
    }

}